
.section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        background-image: url("../media/section/face.jpg");
        background-size: cover;
        background-position: center bottom;
        background-color: #f06c5f;
    }

    &_order {
        flex-grow: 1;
        background-image: url("../media/section/order.jpg");
        background-size: cover;
        background-position: center bottom;
        background-color: #f06c5f;
    }
}

.section__title {
    margin-bottom: 30px;
    font-size: 64px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

@media (max-width: 1024px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_face {
            background-image: url("../media/section/face-768.jpg");

            &_head {
                padding-top: 75px;
            }
        }

        &_order {
            padding-top: 75px;
            padding-bottom: 370px;
            background-image: url("../media/section/order-768.jpg");
            background-size: auto;
            background-position: center bottom;
        }
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section {
        &_face {
            padding-bottom: 350px;
            background-image: url("../media/section/face-480.jpg");
            background-size: auto;
            background-position: center bottom;
        }
    }

    .section__title {
        font-size: 30px;
    }
}
