
.section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        background-image: url("../media/section/face.jpg");
        background-size: cover;
        background-position: center bottom;
        background-color: #f06c5f;
    }

    &_order {
        flex-grow: 1;
        background-image: url("../media/section/order.jpg");
        background-size: cover;
        background-position: center bottom;
        background-color: #f06c5f;
    }

    &_delivery {
        flex-grow: 1;
        background-color: #F1DED0;
        background-image: url("../media/section/delivery.jpg");
        background-size: cover;
        background-position: center;
    }

    &_table {
        padding-bottom: 125px;
    }

    &_pay {
        position: relative;
        padding: 165px 0;
        padding-bottom: 165px;
        background-color: #F0F0F0;

        &::before {
            position: absolute;
            left: 50%;
            bottom: 0;
            content: '';
            width: 573px;
            height: 565px;
            background-image: url("../media/section/pay-human.png");
            background-repeat: no-repeat;
            background-position: left bottom;
        }
    }

    &_contacts {
        padding-top: 185px;
        padding-bottom: 185px;
        background-image: url("../media/section/contacts.jpg");
        background-position: center bottom;
        background-color: #F1DED0;
    }

    &_message {
        display: flex;
        flex-grow: 1;
        background-image: url("../media/section/message.jpg");
        background-size: cover;
    }

    &_blog {
        background-image: url("../media/section/message.jpg");
        background-size: cover;
    }
}

.section__title {
    margin-bottom: 30px;
    font-size: 64px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

@media (max-width: 1024px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_pay {
            padding-top: 100px;
            padding-bottom: 100px;

            &::before {
                height: 100%;
                width: 50%;
                background-image: url("../media/section/pay-human.jpg");
                background-size: contain;
            }
        }

        &_contacts {
            background-image: url("../media/section/contacts-1024.jpg");
        }
    }

    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_face {
            background-image: url("../media/section/face-768.jpg");
        }

        &_order {
            padding-bottom: 370px;
            background-image: url("../media/section/order-768.jpg");
            background-size: auto;
            background-position: center bottom;
        }

        &_pay {
            padding-top: 60px;
            padding-bottom: 60px;

            &::before {
                left: auto;
                transform: translateX(0);
                right: 0;
                width: 40%;
            }
        }

        &_contacts {
            background-image: url("../media/section/contacts-768.jpg");
        }
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section {
        &_face {
            padding-bottom: 350px;
            background-image: url("../media/section/face-480.jpg");
            background-size: auto;
            background-position: center bottom;
        }

        &_pay {
            padding-bottom: 200px;

            &::before {
                height: 190px;
                width: 100%;
                background-position: center bottom;
            }
        }

        &_contacts {
            background-image: url("../media/section/contacts-480.jpg");
            background-size: auto;
        }
    }

    .section__title {
        font-size: 30px;
    }
}
