<footer class="footer">
    <div class="container footer__body">
        <a href="privacy.html" class="footer__privacy">Política de privacidad</a>
        <nav class="footer__nav nav">
            <div class="nav__item">
                <a href="index.html" class="nav__link active">Inicio</a>
            </div>
            <div class="nav__item">
                <a href="order.html" class="nav__link">Encargar</a>
            </div>
            <div class="nav__item">
                <a href="delivery.html" class="nav__link">Envío y pago</a>
            </div>
            <div class="nav__item">
                <a href="contacts.html" class="nav__link">Contactos</a>
            </div>
            <div class="nav__item">
                <a href="message.html" class="nav__link">Comentarios</a>
            </div>
            <!-- <div class="nav__item">
                <a href="blog.html" class="nav__link">Blog</a>
            </div> -->
        </nav>
    </div>
</footer>