<footer class="footer">
    <div class="container footer__body">
        <a href="#" class="footer__privacy">Политика конфиденциальности</a>
        <nav class="footer__nav nav">
            <div class="nav__item">
                <a href="index.html" class="nav__link active">Главная</a>
            </div>
            <div class="nav__item">
                <a href="order.html" class="nav__link">Заказать</a>
            </div>
            <div class="nav__item">
                <a href="delivery.html" class="nav__link">Доставка</a>
            </div>
            <div class="nav__item">
                <a href="contacts.html" class="nav__link">Контакты</a>
            </div>
            <div class="nav__item">
                <a href="message.html" class="nav__link">Отзывы</a>
            </div>
            <div class="nav__item">
                <a href="blog.html" class="nav__link">Блог</a>
            </div>
        </nav>
    </div>
</footer>