<header class="header">
    <div class="container header__body">
        <a href="index.html" class="header__logo logo">Recardio</a>
        <span class="header__site">Página Oficial</span>
        <div class="header__open-nav js-open-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="header__nav nav">
            <div class="nav__item">
                <a href="index.html" class="nav__link active">Inicio</a>
            </div>
            <div class="nav__item">
                <a href="order.html" class="nav__link">Encargar</a>
            </div>
            <div class="nav__item">
                <a href="delivery.html" class="nav__link">Envío y pago</a>
            </div>
            <div class="nav__item">
                <a href="contacts.html" class="nav__link">Contactos</a>
            </div>
            <div class="nav__item">
                <a href="message.html" class="nav__link">Comentarios</a>
            </div>
            <!-- <div class="nav__item">
                <a href="blog.html" class="nav__link">Blog</a>
            </div> -->
        </nav>
    </div>
</header>