
.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: auto;
    background-color: #FF9502;
}

.footer__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__nav {
    & .nav__link {
        &:hover {
            opacity: .9;
        }

        &.active {
            color: #A4322D;
        }
    }
}

.footer__privacy {
    font-size: 14px;
    color: #fff;
}

@media (max-width: 768px) {
    .footer {
        & .container {
            max-width: 100%;
        }
    }

    .footer__body {
        flex-direction: column;
    }

    .footer__privacy {
        order: 2;
        text-align: center;
        margin-top: 20px;
    }

    .footer__nav {
        order: 1;
    }
}

@media (max-width: 480px) {
    .footer__nav {
        flex-direction: column;
        align-items: center;
    }
}