
.header {
    padding: 15px 0;
    background-color: #A4322D;
}

.header__site {
    color: #fff;
    margin-left: 15px;
    margin-right: auto;
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    .nav__link {
        &:hover {
            opacity: .9;
        }

        &.active {
            position: relative;

            &::before {
                position: absolute;
                bottom: -19px;
                left: 50%;
                transform: translateX(-50%);
                height: 8px;
                width: 100%;
                content: '';
                background-color: #FF9502;
            }
        }
    }
}

@media (max-width: 1024px) {
    .header__nav {
        margin-right: -15px;

        .nav__link {
            font-size: 16px;
            padding-right: 15px;
            padding-left: 15px;
    
            &.active {
                &::before {
                    bottom: -15px;
                    height: 5px;
                }
            }
        }
    }

    .header__site {
        font-size: 14px;
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;

        & .container {
            max-width: 100%;
        }

        .nav {
            padding-top: 60px;
            padding-bottom: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: fixed;
            top: 0;
            right: 0;
            background-color: #A4322D;
            transform: translateX(100%);
            transition: .3s transform;
        }

        &.mobile {
            & .nav {
                padding-top: 60px;
                padding-bottom: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                top: 0;
                right: 0;
                background-color: #A4322D;
                transform: translateX(0);
            }

            & .logo {
                position: relative;
                z-index: 6;
            }

            & .header__open-nav {
                position: relative;
                z-index: 6;
            }

            & .header__open-nav {
                & span {
                    &:nth-child(1) {
                        transform: translateY(9px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: translateY(-9px) rotate(-45deg);
                    }
                }
            }
        }
    }

    .header__nav {
        display: none;
        padding-right: 15px;
        padding-left: 30px;
        margin-right: 0;

        & .nav__item {
            width: 100%;

            &:nth-child(1) {
                & .nav__link {
                    background-image: url("../media/nav/icon-1.svg");
                }
            }

            &:nth-child(2) {
                & .nav__link {
                    background-image: url("../media/nav/icon-2.svg");
                }
            }

            &:nth-child(3) {
                & .nav__link {
                    background-image: url("../media/nav/icon-3.svg");
                }
            }

            &:nth-child(4) {
                & .nav__link {
                    background-image: url("../media/nav/icon-4.svg");
                }
            }

            &:nth-child(5) {
                & .nav__link {
                    background-image: url("../media/nav/icon-5.svg");
                }
            }

            &:nth-child(6) {
                & .nav__link {
                    background-image: url("../media/nav/icon-6.svg");
                }
            }
        }

        .nav__link {
            display: block;
            font-size: 18px;
            padding: 15px 0;
            padding-right: 52px;
            background-position: right center;
            background-repeat: no-repeat;
            text-align: right;

            &.active {
                border-color: rgba(255, 255, 255, .16);
                color: #FF9502;

                &::before {
                    display: none;
                }
            }
        }
    }

    .header__open-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        height: 20px;
        cursor: pointer;

        & span {
            background-color: #fff;
            height: 2px;
            width: 100%;
            transition: 0.3s;
        }
    }
}