<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>
<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_contacts">
            <div class="container">
                <div class="contacts">
                    <h2 class="section__title contacts__title">Контакты</h2>
                    <div class="contacts__subtitle">ЗАКАЗЫ ПРИНИМАЮТСЯ ТОЛЬКО ПО ТЕЛЕФОНУ!</div>
                    <div class="contacts__info">Если у вас есть вопросы, отзывы  и предложения, заполните форму ниже</div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>
</html>