<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>
<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_contacts">
            <div class="container">
                <div class="contacts">
                    <h2 class="section__title contacts__title">Контакты</h2>
                    <div class="contacts__subtitle">ЗАКАЗЫ ПРИНИМАЮТСЯ ТОЛЬКО ПО ТЕЛЕФОНУ!</div>
                    <div class="contacts__info">Если у вас есть вопросы, отзывы  и предложения, заполните форму ниже</div>
                </div>
            </div>
        </section>
        <section class="section section_callback">
            <div class="container">
                <div class="callback">
                    <div class="callback__form">
                        <div class="callback__box">
                            <label class="callback__label">
                                <input type="text" class="callback__field" placeholder="Ф.И.О">
                            </label>
                            <label class="callback__label">
                                <input type="text" class="callback__field" placeholder="Ваш телефон">
                            </label>
                            <div class="callback__btn">отправить</div>
                        </div>
                        <div class="callback__box">
                            <textarea class="callback__field callback__textarea" placeholder="Текст письма"></textarea>
                            <div class="callback__btn callback__btn_two">отправить</div>
                        </div>
                    </div>
                    <div class="callback__info">
                        <p>Если у вас остались вопросы по доставке, звоните по номеру:</p>
                        <div class="callback__list">
                            <div class="callback__list-item">+525585262026</div>
                            <div class="callback__list-item">ххххххххх@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>
</html>