<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>
<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_contacts">
            <div class="container">
                <div class="contacts">
                    <h2 class="section__title contacts__title">Contactos</h2>
                    <div class="contacts__subtitle">no se aceptarán pedidos por teléfono</div>
                    <a href="order.html" class="btn contacts__btn">Encargar</a>
                    <div class="contacts__info">Si tiene preguntas, comentarios y sugerencias, complete el formulario a continuación</div>
                </div>
            </div>
        </section>
        <section class="section section_callback">
            <div class="container">
                <div class="callback">
                    <div class="callback__form">
                        <div class="callback__box">
                            <label class="callback__label">
                                <input type="text" class="callback__field" placeholder="Nombre e Apellidos">
                            </label>
                            <label class="callback__label">
                                <input type="text" class="callback__field" placeholder="Su teléfono">
                            </label>
                            <div class="callback__btn">Enviar </div>
                        </div>
                        <div class="callback__box">
                            <textarea class="callback__field callback__textarea" placeholder="El texto de la carta."></textarea>
                            <div class="callback__btn callback__btn_two">Enviar </div>
                        </div>
                    </div>
                    <div class="callback__info">
                        <p>Si tiene alguna pregunta sobre la entrega, llame a este número</p>
                        <div class="callback__list">
                            <div class="callback__list-item">+56229141090</div>
                            <div class="callback__list-item">mail@recardio.cl</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>
</html>