<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_delivery">
            <div class="container">
                <div class="delivery">
                    <h2 class="delivery__title section__title">доставка и оплата</h2>
                    <div class="delivery__subtitle">Заказать Recardio можно в нашем онлайн-магазине:</div>
                    <div class="delivery__body">
                        <div class="delivery__item">
                            <div class="delivery__count">1.</div>
                            <div class="delivery__info">Заполните форму заказа на сайте</div>
                        </div>
                        <div class="delivery__item">
                            <div class="delivery__count">2.</div>
                            <div class="delivery__info">Дождитесь звонка оператора для уточнения деталей</div>
                        </div>
                        <div class="delivery__item">
                            <div class="delivery__count">3.</div>
                            <div class="delivery__info">Оплатите посылку при получении</div>
                        </div>
                    </div>
                    <div class="delivery__warning"><mark>Внимание!</mark> Оригинальный Recardio продается только на официальном сайте и в онлайн-аптеках, входящих в сеть дистрибьюторов.</div>
                </div>
            </div>
        </section>
        <section class="section section_table">
            <div class="container">
                <div class="table">
                    <h2 class="section__title table__title">доставка и оплата</h2>
                    <div class="table__body">
                        <div class="table__row">
                            <div class="table__col"><p>Способ оплаты</p></div>
                            <div class="table__col"><p>Срок доставки по стране</p></div>
                            <div class="table__col"><p>Дни и срок доставки</p></div>
                        </div>
                        <div class="table__row">
                            <div class="table__col"><p>Принимаем только наличные</p></div>
                            <div class="table__col"><p>2-7 дней</p></div>
                            <div class="table__col"><p>С понедельника по пятницу</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>