<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_delivery">
            <div class="container">
                <div class="delivery">
                    <h2 class="delivery__title section__title">ENVÍO Y PAGO</h2>
                    <div class="delivery__subtitle">EL PEDIDO DEL RECARDIO SE PUEDE REALIZAR EN NUESTRA TIENDA ONLINE:</div>
                    <div class="delivery__body">
                        <div class="delivery__item">
                            <div class="delivery__count">1.</div>
                            <div class="delivery__info">Rellene el formulario del pedido en la página web</div>
                        </div>
                        <div class="delivery__item">
                            <div class="delivery__count">2.</div>
                            <div class="delivery__info">Espere la llamada del operador para concretar los detalles</div>
                        </div>
                        <div class="delivery__item">
                            <div class="delivery__count">3.</div>
                            <div class="delivery__info">Pague el paquete al recibirlo</div>
                        </div>
                    </div>
                    <div class="delivery__warning"><mark>¡Atención!</mark>  El Recardio original está en venta únicamente en el sitio web oficial y en las farmacias online que forman parte de la red distribuidora.</div>
                </div>
            </div>
        </section>
        <section class="section section_table">
            <div class="container">
                <div class="table">
                    <h2 class="section__title table__title">ENVÍO Y PAGO</h2>
                    <div class="table__body">
                        <div class="table__row">
                            <div class="table__col"><p>La forma de pago</p></div>
                            <div class="table__col"><p>Tiempo de entrega por país</p></div>
                            <div class="table__col"><p>Días de entrega</p></div>
                        </div>
                        <div class="table__row">
                            <div class="table__col"><p>Solamente en efectivo</p></div>
                            <div class="table__col"><p>2-7 días</p></div>
                            <div class="table__col"><p>De lunes a viernes</p></div>
                        </div>
                    </div>
                    <div class="btn-center">
                        <a href="order.html" class="btn">Encargar</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section_pay">
            <div class="container">
                <div class="pay">
                    <h2 class="section__title pay__title">pago del pedido</h2>
                    <div class="pay__subtitle">Puede pagar el pedido en efectivo al mensajero a la entrega.</div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>