<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_face">
            <div class="container">
                <div class="face">
                    <h1 class="face__title">Нормализация давления <mark>в домашних условиях</mark></h1>
                    <div class="face__list">
                        <div class="face__item"><p><mark>способствует</mark> снижению давления </p></div>
                        <div class="face__item"><p><mark>избавляет</mark> от головных болей</p></div>
                        <div class="face__item"><p><mark>улучшает</mark> самочувствие</p></div>
                    </div>
                    <a href="" class="face__btn">заказать сейчас</a>
                </div>
            </div>
        </section>
        <section class="section section_sostav">
            <div class="container">
                <div class="sostav">
                    <h2 class="section__title sostav__title">состав:</h2>
                    <div class="sostav__body">
                        <div class="sostav__item">
                            <div class="sostav__media">
                                <img src="../media/sostav/img-1.jpg" alt="">
                            </div>
                            <div class="sostav__content">
                                <div class="sostav__info">
                                    <div class="sostav__name">Лимон</div>
                                    <div class="sostav__description">повышает эластичность сосудистой стенки, снимает спазм сосудов, укрепляет ткани артерий. Позволяет добиться снижения АД на 10-15%, снять боли, вызванные спазмом артерий, и предотвратить развитие осложнений гипертонии (разрыв сосуда и кровоизлияние).</div>
                                </div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__content">
                                <div class="sostav__info">
                                    <div class="sostav__name">Тмин</div>
                                    <div class="sostav__description">способствует укреплению стенок сосудов, повышает их эластичность, снижает риски образования атеросклеротических бляшек и тромбов, значительно снижает давление при гипертонии.</div>
                                </div>
                            </div>
                            <div class="sostav__media">
                                <img src="../media/sostav/img-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__media">
                                <img src="../media/sostav/img-3.jpg" alt="">
                            </div>
                            <div class="sostav__content">
                                <div class="sostav__info">
                                    <div class="sostav__name">Чеснок</div>
                                    <div class="sostav__description">снижает давление, стимулируя синтез оксида азота и сероводорода. Расслабляет сосуды, способствует расширению артерий, снижает кровяное давление.</div>
                                </div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__content">
                                <div class="sostav__info">
                                    <div class="sostav__name">Грейпфрут</div>
                                    <div class="sostav__description">укрепляет сердечную мышцу и стенки сосудов, улучшает тонус, эластичность сосудов, их способность своевременно сокращаться и расширяться. Повышает защитные функции сердца и сосудов, устойчивость к негативному влиянию патогенных факторов, снимает спазмы гладких мышц сердца и сосудов.</div>
                                </div>
                            </div>
                            <div class="sostav__media">
                                <img src="../media/sostav/img-4.jpg" alt="">
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__media">
                                <img src="../media/sostav/img-5.jpg" alt="">
                            </div>
                            <div class="sostav__content">
                                <div class="sostav__info">
                                    <div class="sostav__name">Витамин В1</div>
                                    <div class="sostav__description">улучшает работу нервной системы, влияет на белковый обмен, обеспечивает клетки энергией, улучшает память и внимание, участвует в кроветворении.</div>
                                </div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__content">
                                <div class="sostav__info">
                                    <div class="sostav__name">Витамин В12</div>
                                    <div class="sostav__description">предотвращает дисфункцию нервной системы, анемию; нормализует кровообращение, очищает артерии от закупорки.</div>
                                </div>
                            </div>
                            <div class="sostav__media">
                                <img src="../media/sostav/img-6.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section_face">
            <div class="container">
                <div class="face">
                    <h1 class="face__title face__title_bot">закажите <mark>recardio</mark> прямо сейчас!</h1>
                    <div class="face__list">
                        <div class="face__item face__item_4"><p><mark>улучшение</mark> общего самочувствия</p></div>
                        <div class="face__item face__item_5"><p><mark>стабилизация</mark> давления</p></div>
                    </div>
                    <a href="" class="face__btn">заказать сейчас</a>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>