<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_face">
            <div class="container">
                <div class="face">
                    <h1 class="face__title">REGULACIÓN DE PRESIÓN ARTERIAL <mark>EN CONDICIONES HOGAREÑOS</mark></h1>
                    <div class="face__list">
                        <div class="face__item"><p><mark>Ayuda </mark> a reducir la presión arterial</p></div>
                        <div class="face__item"><p><mark>Alivia </mark> el dolor de cabeza</p></div>
                        <div class="face__item"><p><mark>Mejora </mark> el bienestar</p></div>
                    </div>
                    <a href="" class="face__btn">ORDENAR AHORA</a>
                </div>
            </div>
        </section>
        <section class="section section_sostav">
            <div class="container">
                <div class="sostav">
                    <h2 class="section__title sostav__title">La composición:</h2>
                    <div class="sostav__body">
                        <div class="sostav__item">
                            <div class="sostav__media">
                                <img src="../media/sostav/img-1.jpg" alt="">
                            </div>
                            <div class="sostav__content">
                                <div class="sostav__info">
                                    <div class="sostav__name">Limón</div>
                                    <div class="sostav__description">aumenta la elasticidad de la pared vascular, alivia el espasmo de los vasos sanguíneos, fortalece los tejidos de las arterias. Logra una disminución de la presión arterial en un 10-15%, alivia el dolor causado por el espasmo arterial y previene el desarrollo de complicaciones de la hipertensión (ruptura del vaso y hemorragia).</div>
                                </div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__content">
                                <div class="sostav__info">
                                    <div class="sostav__name">Comino</div>
                                    <div class="sostav__description">ayuda a fortalecer las paredes de los vasos sanguíneos, aumenta su elasticidad, reduce el riesgo de formacion de placas ateroscleróticas o coágulos de sangre, reduce significativamente la presión en la hipertensión.</div>
                                </div>
                            </div>
                            <div class="sostav__media">
                                <img src="../media/sostav/img-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__media">
                                <img src="../media/sostav/img-3.jpg" alt="">
                            </div>
                            <div class="sostav__content">
                                <div class="sostav__info">
                                    <div class="sostav__name">Ajo</div>
                                    <div class="sostav__description">reduce la presión arterial estimulando la síntesis de óxido de nitrógeno y sulfuro de hidrógeno. Relaja los vasos sanguíneos, contribuye a la dilatación de las arterias, reduce la presión sanguínea.</div>
                                </div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__content">
                                <div class="sostav__info">
                                    <div class="sostav__name">Pomelo</div>
                                    <div class="sostav__description">fortalece el músculo cardíaco y las paredes de los vasos sanguíneos. Mejora el tono, mejora la elasticidad de los vasos sanguíneos y su capacidad para contraerse y dilatarse a su debido tiempo. Aumenta las funciones protectoras del corazón y de los vasos sanguíneos. Aumenta la resistencia a la influencia negativa de los factores patógenos, alivia los espasmos de los músculos lisos del corazón y de los vasos sanguíneos.</div>
                                </div>
                            </div>
                            <div class="sostav__media">
                                <img src="../media/sostav/img-4.jpg" alt="">
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__media">
                                <img src="../media/sostav/img-5.jpg" alt="">
                            </div>
                            <div class="sostav__content">
                                <div class="sostav__info">
                                    <div class="sostav__name">La Vitamina B1</div>
                                    <div class="sostav__description">mejora el funcionamiento del sistema nervioso, influye en el proceso metabólico de las proteínas, proporciona energía a las células, mejora la memoria y la atención y participa en la hematopoyesis.</div>
                                </div>
                            </div>
                        </div>
                        <div class="sostav__item">
                            <div class="sostav__content">
                                <div class="sostav__info">
                                    <div class="sostav__name">La Vitamina B12</div>
                                    <div class="sostav__description">previene la disfunción del sistema nervioso, o anemia; normaliza la circulación sanguínea, limpia las arterias de obstrucciones.</div>
                                </div>
                            </div>
                            <div class="sostav__media">
                                <img src="../media/sostav/img-6.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section_face">
            <div class="container">
                <div class="face">
                    <h1 class="face__title face__title_bot">PIDAN <mark>recardio</mark> ¡AHORA MISMO!</h1>
                    <div class="face__list">
                        <div class="face__item face__item_4"><p><mark>Un mejoramiento </mark> del bienestar general</p></div>
                        <div class="face__item face__item_5"><p><mark>La estabilización </mark> de la presión arterial.</p></div>
                    </div>
                    <a href="" class="face__btn">PEDIR RECARDIO</a>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>