<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_message">
            <div class="message">
                <h1 class="message__title section__title">COMENTARIOS</h1>
                <div class="message__body owl-carousel">
                    <div class="message__item">
                        <div class="message__face">
                            <img src="../media/message/face-1.jpg" alt="">
                        </div>
                        <div class="message__info">
                            <p>Lo pedí por recomendación de una amiga, ella toma Recardio y está muy contenta. Yo acabo de comenzar el tratamiento, por lo tanto, es demasiado pronto hablar de resultados… Me gustaría creer que la hipertensión a mí también me dejará en paz.</p>
                            <div class="message__name">Elina, 48 años</div>
                        </div>
                        <div class="message__footer">
                            <a href="#" class="message__link"><img src="../media/message/icon-1.png" alt=""></a>
                            <a href="#" class="message__link"><img src="../media/message/icon-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="message__item">
                        <div class="message__face">
                            <img src="../media/message/face-2.jpg" alt="">
                        </div>
                        <div class="message__info">
                            <p>Me gustaron los corteses consultores que calcularon la cantidad requerida de paquetes de Recardio y también el precio del producto. Análogos más baratos no se podran encontrar.  Tomé tan solo una semana y ya estoy muy satisfecho con el resultado! Luego, después les pediré Recardio y a mis seres queridos también.</p>
                            <div class="message__name">Marcos, 55</div>
                        </div>
                        <div class="message__footer">
                            <a href="#" class="message__link"><img src="../media/message/icon-1.png" alt=""></a>
                            <a href="#" class="message__link"><img src="../media/message/icon-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="message__item">
                        <div class="message__face">
                            <img src="../media/message/face-3.jpg" alt="">
                        </div>
                        <div class="message__info">
                            <p>Se lo llevé a mi esposo, por los saltos bruscos e caídas, que tiene en la presión arterial. No le gusta ir de médicos y a la fuerza no lo arrastras, así que tuve que tomar la iniciativa. Escuché muchas opiniones positivas sobre Recardio y decidí pedirlo yo misma. Mi esposo accedió tomarlo en tratamiento por lo que me alegré mucho. Contamos con un buen resultado.</p>
                            <div class="message__name">Samantha, 46 años</div>
                        </div>
                        <div class="message__footer">
                            <a href="#" class="message__link"><img src="../media/message/icon-1.png" alt=""></a>
                            <a href="#" class="message__link"><img src="../media/message/icon-2.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="btn-center">
                    <a href="order.html" class="btn">Encargar</a>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>