<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_message">
            <div class="message">
                <h1 class="message__title section__title">отзывы</h1>
                <div class="message__body owl-carousel">
                    <div class="message__item">
                        <div class="message__face">
                            <img src="../media/message/face-1.jpg" alt="">
                        </div>
                        <div class="message__info">
                            <p>Заказала по рекомендации подруги, она принимает Recardio и очень довольна. Я только начала курс, о результатах говорить рано. Хочется верить, что гипертония и меня оставит в покое. </p>
                            <div class="message__name">Элина, 48 лет</div>
                        </div>
                        <div class="message__footer">
                            <a href="#" class="message__link"><img src="../media/message/icon-1.png" alt=""></a>
                            <a href="#" class="message__link"><img src="../media/message/icon-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="message__item">
                        <div class="message__face">
                            <img src="../media/message/face-2.jpg" alt="">
                        </div>
                        <div class="message__info">
                            <p>Понравились вежливые консультанты, которые рассчитали необходимое количество упаковок Recardio, и цена на средство. Дешевле аналогов не найти. Пью всего неделю, а уже очень доволен результатом! Позже закажу Recardio и своим близким.</p>
                            <div class="message__name">Маркос, 55 лет</div>
                        </div>
                        <div class="message__footer">
                            <a href="#" class="message__link"><img src="../media/message/icon-1.png" alt=""></a>
                            <a href="#" class="message__link"><img src="../media/message/icon-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="message__item">
                        <div class="message__face">
                            <img src="../media/message/face-3.jpg" alt="">
                        </div>
                        <div class="message__info">
                            <p>Брала мужу, у него давление постоянно скачет. По врачам ходить не любит, силой не затащишь, так что мне пришлось взять инициативу на себя. Слышала много положительных отзывов о Recardio, решила тоже заказать. Муж согласился пропить его курсом, я и тому рада. Рассчитываю на хороший результат. </p>
                            <div class="message__name">Саманта, 56 лет</div>
                        </div>
                        <div class="message__footer">
                            <a href="#" class="message__link"><img src="../media/message/icon-1.png" alt=""></a>
                            <a href="#" class="message__link"><img src="../media/message/icon-2.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="btn-center">
                    <a href="order.html" class="btn">Заказать</a>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>