<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_message">
            <div class="message">
                <h1 class="message__title section__title">отзывы</h1>
                <div class="message__body owl-carousel">
                    <div class="message__item">
                        <div class="message__face">
                            <img src="../media/message/face-1.jpg" alt="">
                        </div>
                        <div class="message__info">
                            <p>Заказала по рекомендации подруги, она принимает Recardio и очень довольна. Я только начала курс, о результатах говорить рано. Хочется верить, что гипертония и меня оставит в покое. </p>
                            <div class="message__name">Элина, 48 лет</div>
                        </div>
                        <div class="message__footer">
                            <a href="#" class="message__link"><img src="../media/message/icon-1.png" alt=""></a>
                            <a href="#" class="message__link"><img src="../media/message/icon-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="message__item">
                        <div class="message__face">
                            <img src="../media/message/face-1.jpg" alt="">
                        </div>
                        <div class="message__info">
                            <p>Заказала по рекомендации подруги, она принимает Recardio и очень довольна. Я только начала курс, о результатах говорить рано. Хочется верить, что гипертония и меня оставит в покое. Заказала по рекомендации подруги, она принимает Recardio и очень довольна. Я только начала курс, о результатах говорить рано. Хочется верить, что гипертония и меня оставит в покое.</p>
                            <div class="message__name">Элина, 48 лет</div>
                        </div>
                        <div class="message__footer">
                            <a href="#" class="message__link"><img src="../media/message/icon-1.png" alt=""></a>
                            <a href="#" class="message__link"><img src="../media/message/icon-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="message__item">
                        <div class="message__face">
                            <img src="../media/message/face-1.jpg" alt="">
                        </div>
                        <div class="message__info">
                            <p>Заказала по рекомендации подруги, она принимает Recardio и очень довольна. Я только начала курс, о результатах говорить рано. Хочется верить, что гипертония и меня оставит в покое. </p>
                            <div class="message__name">Элина, 48 лет</div>
                        </div>
                        <div class="message__footer">
                            <a href="#" class="message__link"><img src="../media/message/icon-1.png" alt=""></a>
                            <a href="#" class="message__link"><img src="../media/message/icon-2.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>