<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_order">
            <div class="container">
                <div class="order">
                    <h1 class="order__title section__title">PEDIR <mark>recardio</mark></h1>
                    <form class="order__form">
                        <label class="order__label">
                            <input type="text" class="order__field" placeholder="Nombre e Apellidos">
                        </label>
                        <label class="order__label">
                            <input type="text" class="order__field" placeholder="Su teléfono">
                        </label>
                        <label class="order__label">
                            <input type="text" class="order__field" placeholder="Su correo electrónico">
                        </label>
                        <div class="order__price">PRECIO: <mark>$34.900</mark></div>
                        <button class="order__btn">ORDENAR AHORA</button>
                    </form>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>